<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586104450832-isu5r198nt9t76g8m931lq4u9cf4k3l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586104450832-isu5r198nt9t76g8m931lq4u9cf4k3l6</string>
	<key>API_KEY</key>
	<string>AIzaSyCEIHDVDnR3HHJeR6f8TGn45eYQocH3hsg</string>
	<key>GCM_SENDER_ID</key>
	<string>586104450832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase.abcd</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-one-81e8e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-one-81e8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586104450832:ios:47f58f5a0f053bd75fbf95</string>
</dict>
</plist>